
h1{
  color: green;
}
li {
  color: rgb(37, 25, 25);
  padding-top: 3px;
  font-size: 15px;
}
.error{
  color: rgb(81, 0, 255);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}